#  CORE

## PACKS

jxinsight.server.probes.extension.types=iam,rec,data

# intelligent activity metering probes providers
jxinsight.server.probes.extension.type.iam.providers=hotspot,dynamic
jxinsight.server.probes.extension.type.iam.provider.hotspot.name=Hotspot
jxinsight.server.probes.extension.type.iam.provider.dynamic.name=Dynamic

jxinsight.server.probes.extension.type.rec.providers=simz,stenos,timesync
jxinsight.server.probes.extension.type.rec.provider.simz.name=Simz
jxinsight.server.probes.extension.type.rec.provider.stenos.name=Recorder
jxinsight.server.probes.extension.type.rec.provider.timesync.name=TimeSync

# data collection probes providers
jxinsight.server.probes.extension.type.data.providers=console,mark,tag
jxinsight.server.probes.extension.type.data.provider.console.name=Console
jxinsight.server.probes.extension.type.data.provider.mark.name=Mark
jxinsight.server.probes.extension.type.data.provider.tag.name=Tag

## METERS

# include (or exclude) the probe clock time meter in group resource metering
jxinsight.server.probes.meter.clock.time.include=true
# include (or exclude) the count of (nested) probes fired and metered in group resource metering
jxinsight.server.probes.meter.probe.count.include=false
# include (or exclude) the clock.tick probe meter
jxinsight.server.probes.meter.clock.tick.include=false

## NAMING

# enable (or disable) the parsing of the fully qualified class name into distinct name parts @see Probes.name(Class)
jxinsight.server.probes.name.class.parse.enabled=true
# in converting a class to a probes name use the canonical version of the name if possible
jxinsight.server.probes.name.class.canonical.enabled=false

## GROUPING

# enable (or disable) the metering of aggregate groups for each named probe
jxinsight.server.probes.aggregates.enabled=true

## ENVIRONMENT

# a comma separated list of properties to be imported into each thread context environment
jxinsight.server.probes.environment.defaults=

#  EXTENSIONS

## HOTSPOT

# enable (or disable) the hotspot probes provider (default = true)
jxinsight.server.probes.hotspot.enabled=true
# the meter used by the hotspot probes provider
jxinsight.server.probes.hotspot.meter=clock.time
# the initial credit added to the score card of a hotspot probe
jxinsight.server.probes.hotspot.initial=1000
# the lower (min) score card range for hotspot classification
jxinsight.server.probes.hotspot.lower=2000
# the upper (max) score card range after which no further hotspot evaluation is performed
jxinsight.server.probes.hotspot.upper=100000
# the hotspot (inclusive) metering threshold
jxinsight.server.probes.hotspot.threshold=25
# the credit added to the score card for a completion equal or above the hotspot (inclusive) threshold
jxinsight.server.probes.hotspot.threshold.credit=1
# the debit subtracted from the score card for a completion below the hotspot (inclusive) threshold
jxinsight.server.probes.hotspot.threshold.debit=2
# the hotspot (inherent) metering threshold
jxinsight.server.probes.hotspot.threshold.inherent=5
# the credit added to the score card for a completion equal or above the hotspot (inherent/exclusive) threshold
jxinsight.server.probes.hotspot.threshold.inherent.credit=1
# the debit subtracted from the score card for a completion below the hotspot (inherent/exclusive) threshold
jxinsight.server.probes.hotspot.threshold.inherent.debit=2

## CONSOLE

# enable (or disable) the console probes provider (default = true)
jxinsight.server.probes.console.enabled=true
# the server socket port for console requests
jxinsight.server.probes.console.reactor.port=1515
# the server socket address for console requests
# jxinsight.server.probes.console.reactor.address=
# the port increment applied when the default port is not available
jxinsight.server.probes.console.reactor.port.increment=1
# the maximum number of ports increments and bind attempts tried
jxinsight.server.probes.console.reactor.port.maxtries=1024
# set and fix the name of the *.ocs file created when a dump request is made and the console probes provider is installed
jxinsight.server.probes.console.dump.file.name=
# include (or exclude) the export of non-hotspot probes in a metering model snapshot
jxinsight.server.probes.console.snapshot.probes.nonhotspot.include=true
# include (or exclude) the export of non-hotspot probes in a metering model snapshot
jxinsight.server.probes.console.snapshot.probes.unmarked.include=true
# enable (or disable) the calling of Runtime.gc() from a console client
jxinsight.server.probes.console.gc.enabled=true